@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.header---container{
    background: #4f6581;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    padding: 5px;
}
.header--logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-image-container img{
    width: 110px;
    mix-blend-mode: normal;
}
.header--location{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}
.header-location-icon i{
    font-size: 30px;
}
.header-location-details span{
    font-size: 12px;
}
.header-location-details b{
    font-size: 14px;
}
.header--search{
    display: flex;
    align-items: center;
    flex: 1;
}
.header-search--selection{
    width: 50px;
    height: 40px;
    background: #e6e6e6;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px 0 0 5px;
}
.header-search-textbox{
    width: 100%;
}
.header-search-textbox input{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 14px;
}
.header-search-icon{
    background-color:#febd69;
    width: 50px;
    height: 42px;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
}
.header--details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header-language{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    gap: 5px;
}
.header-language img{
    width: 25px;

}
.header-language span{
    font-size: 12px;  
}
.header-signed-in, .header-orders{
    padding: 5px;
}
.header-signed-in span, .header-orders span{
    font-size: 11px;
}
.header-signed-in b, .header-orders b{
    font-size: 13px;
}
.header-cart{
    text-align: center;
    padding: 2px 10px;
}
.header-cart i{
    font-size: 18px;
}

.nav-bar{
    background: #232f3e;
    color: #d6dee9;
}
.nav-bar ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px 5px;
    justify-content: space-evenly;
}
.nav-bar ul li{
    padding: 5px;
    font-size: 14px;
    
}
.header-image-container:hover,
.header--location:hover,
.header-language:hover,
.header-signed-in:hover,
.header-orders:hover,
.header-cart:hover,
.nav-bar ul li:hover
{
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.image-slider{
    width: 100%;
}
.image--container{
    width: 400%;
    display: flex;
    animation: imageSlider 10s infinite;
}
.image--container img{
    width: 100%;
    height: 90vh;   
    aspect-ratio: 1/1;
}
@keyframes imageSlider{
    0%{
        margin-left: 0;
    }
    20%{
        margin-left: 0;
    }
    25%{
        margin-left: -100%;
    }
    45%{
        margin-left: -100%;
    }
    50%{
        margin-left: -200%;
    }
    65%{
        margin-left: -200%;
    }
    75%{
        margin-left: -300%;
    }
    95%{
        margin-left: -300%;
    }
    100%{
        margin-left: 0%;
    }
}

.product--container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-evenly;
    margin-top: -340px;
}

.product-card{
    width: 280px;
    box-shadow: 0 0 22px 0 rgba(red, green, blue, 1);
}
.product-image-container{
    background-color: #f7f7f7;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}
.product-image-container img{
    width: 80%;
    mix-blend-mode: multiply;
    border-radius: 5px 5px 0 0;
}
.product-details{
    padding: 10px;
    text-align: center;
    background: #f7f7f7;
}
.product-brand-name{
    font-size: 16px;
    padding: 10px 0;
}
.product-name{
    padding: 6px 0;
}
.product-rating{
    margin-top: 5px;
    color: #e07903;
}
.product-rating span{
    font-weight: bold;
    color: black;
}
.product-price{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.product-price b{
    display: flex;
}
.product-price b span{
    font-size: 28px;
}
.product-price>span{
    color: #565959;
    font-size: 14px;
}
@keyframes Slider{
    0%{
        margin-left: 0;
    }
    
}

.footer--container{
    background: #232f3e;
    color: #c7c7c7;
}
.back-to-top{
    display: block;
    width: 100%;
    background: #37475a;
    padding: 20px;
    text-decoration: none;
}
.back-to-top:active{
    background: #44586f;
}

.back-to-top p {
    text-align: center;
    color: white;
    font-size: 16px;
}
.footer--content{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
}
.footer--content--details ul{
    list-style: none;
}

.footer--content--details ul span{
    font-size: 16px;
    color: white;
    display: block;
    margin-bottom: 10px;
}

.footer--content--details ul li{
    margin-bottom: 10px;
    font-size: 14px;
}
.copy-rights{
    background: #161f2b;
    padding: 20px;
    font-size: 12px;
    text-align: center;
    gap: 5px;
}
.conditions span{
    padding: 6px;
}
.published{
    margin-top: 10px;
}

/* Login-Page-Styleing */
.logo-image{
    height: 58px;
    width: 120px;
    padding-top: 0px;
    padding-bottom: 5px;
}
.container1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.form-container{
    border-style: solid;
    border-color: #dddddd;
    border-radius: 7px;
    border-width: .5px;
    width: 350px;
    padding: 18px 20px;
    box-shadow: 0px 0px 2px hwb(0 80% 19%);

}
.form-container h1{
    font-size: 26px;
    font-weight: 200;
    padding-bottom: 8px;
}
/* .container2{
    border: 5px;
    color: black;
} */
.details{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-text-box{
    border: 0.5px solid;
    border-color: #c2bfbf;
    padding: 7px;
    border-radius: 4px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.input-text-box:focus{
    border: 0.2px solid;
    border-color: #c2bfbf;
    box-shadow: 0px 0px 8px hwb(199 36% 0%);
    background: rgb(248, 253, 255);
}

.button-div{
    margin-top: 10px;
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
}
.button-div button{
    border: none;
    flex-grow: 1;
    background-color: #ffda05;
    padding: 8px 125px;
    border-radius: 8px;
}

.button-div button:hover{
    background-color: #ffbc03;
}
.input-label{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
}

.para{
    font-size: 12px;
    display: flex;
    flex-wrap: 1;
    padding: 15px 0px;
}
.para span{
    color: #4242fc;
}

/* help-section style using div */

/* 

.help{
    display: flex;
    gap: 10px;
}
.help-section {
    display: flex;
    padding: 10px 0px 10px 0px;
    color: #4242fc;
    font-size: 12px;
    text-decoration: none;
}
.help i{
    color: black;
}
.help-section-text a{
    text-decoration: none;
    color: #4242fc;
} 
.help-section-ulist li{
    list-style: none;
    margin: 8px 0px 0px 0px;
}

.help-section-text ul{
    display: none;
    flex-direction: column;
}
.help-section-text:active{
    .help-section-text ul {
        display: flex;
    }
}

.help-section-ulist li a{
    padding: 20px 20px 0px 0px;
    text-decoration: none;
    color: #4242fc;
} 

*/
.help-section-container{
    color: #4242fc;
    font-size: 12px;
}

.help-section-details{
    line-height: 20px;
    padding: 8px 14px;
}

.help-section-text:hover{
    color: #b63c0c;
    text-decoration: underline;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dddddd;
}

.card-inside-bottom-section{
    padding-top:  16px;
}
.card-inside-bottom-section h4{
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 8px;
}
.card-inside-bottom-section a{
    font-size: 12px;
    color: #4242fc;
    text-decoration: none;
}
.card-outside-line{
    display: flex;
    width: 350px;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: rgb(117, 117, 117);
    padding-top: 25px;
    gap: 8px;
}
.line1{
    height: 0.5px;
    width: 120px;
    background: #cfcfcf;
}
.card-outside-line p{
    padding-top: 20px;
    font-size: 12px;
    color: #9c9c9c;
}
.card-outside-line span{
    color: #dfdddd;
}
.card-bottom-button-div{
    margin-top: 10px;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-self: center;
    color: black;
    border-radius: 10px;

}
.card-bottom-button-div button{
    padding: 6px 86px;
    border-style: solid;
    border-width: .5px;
    background-color: white;
    border-color: #ddd9d9;
    border-radius: 5px;
    box-shadow: 0px 0px 2px hwb(0 78% 21%);

}
.card-bottom-button-div button:hover{
    background-color: rgb(245, 245, 245);
}
.help-section a:hover,
.para span:hover,
.card-inside-bottom-section a:hover{
    color: #b63c0c;
    text-decoration: underline;
}

.sign-in-page-footer{
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: #e6e6e6;
    border-bottom: none;
    font-size: 11px;
    box-shadow: 0px 0px 2px hwb(0 87% 13%);

}
.conditions-style-login{
    padding-top: 10px;
    color: #4242fc;
}
.login-published-text{
    color: #8a8a8a;
}
/* update on home sign-in button to open sign-in page */
.home-sign-text{
    color: white;
    text-decoration: none;
}